.menuIcons {
  position: absolute;
  top: 50%;
  left: 32px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transform: translate(0, -50%) rotate(-45deg);
  transition: all 600ms ease-in-out;
  cursor: pointer;
  font-size: 3em;
  @media only screen and (max-width: $XS) {
    left: 16px;
  }
  &.visible {
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: translate(0, -50%) rotate(0);
    &:hover {
      opacity: 0.8;
    }
  }
}
