.button {
  color: inherit;

  &_icon {
    min-width: 40px;
    cursor: pointer;
    & svg {
      width: 40px;
      font-size: 2.6em;
    }
  }
}

.functionButton {
  @include buttonEffect;
  width: 85px;
}
