@import "./variables";

@mixin transparentBackground {
  background-color: $transparentWhite;
  backdrop-filter: blur(24px);
}

@mixin buttonEffect {
  background-color: $greenTransparent;
  color: $white;
  border-radius: 8px;
  padding: 4px 8px;
  border: none;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    transform: translateY(1px);
    scale: 0.98;
  }
}

@mixin gridLayout {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  @media only screen and (max-width: $M) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media only screen and (max-width: $XS) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
