@import "./variables";

@mixin transparentBackground {
  backdrop-filter: blur(24px);
  background-color: rgba(4, 1, 1, 0.191);
}

@mixin buttonEffect {
  border-radius: 8px;
  padding: 4px 8px;
  border: none;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: rgb(51, 115, 212);
  }
}

@mixin gridLayout {
  display: grid;
  grid-template-columns: repeat(minmax(0, 1fr));
  grid-auto-rows: 1fr;
  @media only screen and (max-width: $M) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media only screen and (max-width: $XS) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
