$transparentWhite: #14131364;
$darkGreen: #ffffff;
$greenTransparent: #66c18c;
$white: #fefefe;
$lightGreenTransparent: #ffffff60;
$darkGreenTransparent: #225ba2b4;
$darkerGreenTransparent: #041b0df5;

$M: 1000px;
$XS: 650px;
