$transparentWhite: #fefefe9f;
$darkGreen: #041b0d;
$greenTransparent: #37483ef9;
$white: #fefefe;
$lightGreenTransparent: #041b0d97;
$darkGreenTransparent: #041b0dd5;
$darkerGreenTransparent: #041b0df5;

$M: 1000px;
$XS: 650px;
