@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  color: $darkGreen;
}

h2 {
  font-family: "Arvo", serif;
  font-size: 2em;
  text-align: center;
}

h3 {
  font-family: "Arvo", serif;
  font-size: 1.6em;
  text-align: center;
  font-style: italic;
  & a {
    color: inherit;
  }
}

h4 {
  font-family: "Arvo", serif;
  font-size: 1.4em;
}

h5 {
  font-family: "Arvo", serif;
  font-size: 1.2em;
}
