@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "sans-serif";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "sans-serif";
  font-size: 2.6em;
  text-align: center;
  color: aliceblue;
}

h2 {
  font-family: "sans-serif";
  font-size: 2em;
  color: rgb(255, 255, 255);
}

h3 {
  font-family: "sans-serif";
  font-size: 1.6em;
  padding-bottom: 10px;
  font-style: italic;

  & a {
    color: inherit;
  }
}

h4 {
  font-family: "sans-serif";

  font-size: 1.4em;
}

h5 {
  font-family: "sans-serif";
  color: rgba(14, 5, 14, 0.695);
  margin: 10px;
  margin-left: 0;
  font-weight: 600;
  font-size: 1.2em;
}
