@import "./mixin";

.usersList {
  @include gridLayout;
  gap: 16px 32px;
  padding: 32px;
  min-width: 300px;
  border-radius: 16px;
  &_user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    &_name {
      border-bottom: 1px solid #000;
      color: rgba(0, 0, 1, 0.85);
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
