@import "./mixin";

.usersList {
  @include transparentBackground;
  @include gridLayout;
  gap: 16px 64px;
  padding: 32px;
  min-width: 300px;
  border-radius: 16px;
  &_user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    &_name {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
