.Navbar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.Navbar>.Child-container {
    padding: 1rem;
    color: inherit;
    background-color: inherit;
}

.Navbar>.Child-container>a {
    padding: 1rem;
    border-radius: 5px;
    color: inherit;
    text-decoration: inherit;
}

.Navbar>.Child-container>a:hover {
    border-radius: 5px;
    color: inherit;
    text-decoration: inherit;
    background-color: cadetblue;
    font-weight: 900;
}