.addCommentForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &_headingLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 px;
    &_label {
      font-weight: 600;
      width: fit-content;
    }
    &_words {
      font-size: 0.9em;
    }
  }
  &_textarea {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.054);
    border: 1px solid rgba(0, 0, 0, 0.192);
    padding: 8px;
    resize: none;
    color: black;
    &::placeholder {
      color: black;
    }
  }
  &_button {
    @include buttonEffect;
    margin: 10px;
    padding: 10px;
    width: 190px;
    background-color: rgb(65, 135, 249);
    color: $white;
    border: none;
    transition: 0.3s;
  }

  &_button:hover {
    transform: scale(1.04);
  }
}
