.postLikes {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  &_details {
    &[open] > .likeList {
      opacity: 1;
      visibility: visible;
      transition: all 700ms ease-in-out;
      height: fit-content;
    }
  }
  &:not([open]) {
    height: 0;
  }
  &_amount {
    min-width: 50px;
    padding: 0 8px;
    text-align: right;
    cursor: pointer;
    &::marker {
      content: none;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  & .likeList {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    z-index: 50;
    bottom: 0;
    right: 0;
    padding: 8px 0;
    backdrop-filter: blur(24px);
    background-color: #fefefee0;
    border-radius: 8px;
    min-width: fit-content;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
    font-size: 0.9em;
    text-align: center;
    transform: translate(0, calc(100% + 16px));
    list-style-type: none;
    height: 0;
    &_name {
      padding: 4px;
      width: fit-content;
      cursor: pointer;
    }
  }

  & .like {
    font-size: 0.6em;
    color: #b71414;
  }
}
