.commentsList {
  padding: 10px 0 0;
  margin-bottom: 10px;

  &_details {
    width: 100%;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: $white;

    &_item {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid rgb(255, 255, 255);
      border-left: 2px solid rgb(68, 152, 255);
      border-radius: 5px;
      padding-left: 8px;
      padding-bottom: 8px;
      &_user {
        font-size: 1em;
        color: rgb(160, 100, 172);
        cursor: pointer;
      }
      &_comment {
        color: black;
        padding: 6px;
        padding-left: 8px;
        font-size: 1.1em;
      }
    }
  }
}
